__pycache__
*.pyc
*.so
*.o
.python-version

video_data/
test_video/
exps/
output/
dataset/
# project dirs
video_data/
articulation3d/output/
articulation3d/output1/
articulation3d/test_video/
.history/
